/* Reset CSS */

#form-login {
    font-family: "Bai Jamjuree", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form h1 {
    font-family: "Anta", sans-serif;
    margin-bottom: 10px;
    color: #333;
  }
  
  .login-form p {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    color: #777;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group input {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .input-group input:focus {
    border-color: #32CD32;
    outline: none;
  }
  
  #btn-submit {
    font-family: "Anta", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 19px;
    background-color: #32CD32;
    margin: 20px 70px;

    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 26px;
  }
  
  #btn-submit:hover {
    background-color: #32CD32;
  }
  
  .bottom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #777;
  }
  
  .bottom-text p {
    margin-bottom: 10px;
  }
  
  .bottom-text a {
    color: #32CD32;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .bottom-text a:hover {
    color: #32CD32;
  }
  
  /* Responsive */
  @media screen and (max-width: 600px) {
    .login-container {
      width: 100%;
      border-radius: 0;
    }
  }
  

#form-login{
    background-color: #000000;
}

#username{
    background-color: #e8e8e8a4;
    font-size: 20px;
    font-family: "Bai Jamjuree", sans-serif;
}

#password{
    background-color: #e8e8e8a4;
    font-size: 20px;
    font-family: "Bai Jamjuree", sans-serif;

}

#name{
  background-color: #e8e8e8a4;
  font-size: 20px;
  font-family: "Bai Jamjuree", sans-serif;
}

#email{
  background-color: #e8e8e8a4;
  font-size: 20px;
  font-family: "Bai Jamjuree", sans-serif;

}